<!-- <p>wire works!</p>
{{ data()?.color }}
{{ data()?.getEnd()?.col}},
{{ data()?.getEnd()?.row}},
{{ data()?.getStart()?.col}},
{{ data()?.getStart()?.row}}
<svg>
</svg> -->

<!-- <line
  [attr.x1]="data()?.getEnd()?.coordinate?.x"
  [attr.y1]="data()?.getEnd()?.coordinate?.y"
  [attr.x2]="data()?.getStart()?.coordinate?.x"
  [attr.y2]="data()?.getStart()?.coordinate?.y"
  stroke="red"
  stroke-width="2"
/> -->

<svg:line
  [attr.x1]="100"
  [attr.y1]="0"
  [attr.x2]="100"
  [attr.y2]="150"
  stroke="red"
  stroke-width="2"
/>
