<!-- <div id="board" #board>
  <tr class="row" *ngFor="let i of [].constructor(rowCount()); let row = index">
    <td class="col" *ngFor="let y of [].constructor(colCount()); let col = index">
      <button class="hole" [id]="calcHoleIdString(row, col)" (click)="holeSelected(row, col)"></button>
    </td>
  </tr>
</div> -->

<div class="board-container">
  <svg class="board-svg" [attr.viewBox]="viewBox">
    @for(row of [].constructor(rowCount()); track $index){
    <rect
      class="stripe"
      [attr.x]="0"
      [attr.y]="
        $index * BOARD_OPTIONS.verticalSpacing -
        (BOARD_OPTIONS.stripeHeight - BOARD_OPTIONS.holeSize) +
        4
      "
      [attr.width]="'100%'"
      [attr.height]="BOARD_OPTIONS.stripeHeight"
    />
    } @for(hole of allHoles; track hole){
    <circle
      class="hole"
      [ngClass]="currentEditMode() === allEditModes.ADD ? 'clickable' : ''"
      [ngClass]="selectedHole === hole ? 'selected' : ''"
      [attr.cx]="hole.getCoordinate().x"
      [attr.cy]="hole.getCoordinate().y"
      [attr.r]="BOARD_OPTIONS.holeSize"
      stroke-width="2"
      (click)="holeSelected(hole)"
    />
    } @for(element of allComponents;track element) { @if(element.getType() ===
    availableComponentTypes.WIRE){ @let wire = asWire(element);
    <line
      [attr.x1]="wire.getEnd().getCoordinate().x"
      [attr.y1]="wire.getEnd().getCoordinate().y"
      [attr.x2]="wire.getStart().getCoordinate().x"
      [attr.y2]="wire.getStart().getCoordinate().y"
      [attr.stroke]="wire.color"
      [attr.stroke-width]="wire.strokeWidth"
      (click)="handleComponentClick(wire)"
      [ngClass]="currentEditMode() === allEditModes.REMOVE ? 'clickable' : ''"
    />
    } }
  </svg>
</div>
