.board-container {
  width: 90%;
  margin: auto;
  /* allow scrolling if SVG grows larger */

  .board-svg {
    min-width: 80%;
    width: auto;
    height: auto;
    display: block;
    border: 10px solid white;
    padding: 2px;
    background-color: white;

    .stripe {
      fill: #ac8949;
    }

    .hole {
      fill: black;
      stroke: #a18666;
    }
  }
}

.clickable {
  cursor: pointer;
}
