// $holeWidth: 20px;

// ::ng-deep #board {
//     border: 3px solid #a18666;
//     width: fit-content;
//     padding: 4px;
//     margin: auto;

//     .wire {
//         width: $holeWidth;
//         z-index: 100;
//         position: absolute;
//         border-radius: 50px;
//     }
// }

// .hole {
//     height: $holeWidth;
//     aspect-ratio: 1/1;
//     margin: 0;
//     cursor: pointer;
//     background-color: black;
//     border: 0;
//     border-radius: 50%;
// }

// .row {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     background-color: #ac8949;
//     margin: 5px;

//     .col {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 5px;
//     }
// }

.board-container {
  width: 90%;
  margin: auto;
  /* allow scrolling if SVG grows larger */

  .board-svg {
    min-width: 80%;
    width: auto;
    height: auto;
    display: block;
    border: 10px solid white;
    padding: 2px;
    background-color: white;

    .stripe {
      fill: #ac8949;
    }

    .hole {
      fill: black;
      cursor: pointer;
      stroke: #a18666;
    }
  }
}