<div class="home">
  <div class="tool-select">
    <button
      (click)="changeUserAction(userActions.ADD)"
      class="tool-btn"
      [class.active]="currentUserAction == userActions.ADD"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Add Wire"
        fontIcon="add"
        class="tool-icon"
      ></mat-icon>
    </button>
    <button
      (click)="changeUserAction(userActions.REMOVE)"
      class="tool-btn"
      [class.active]="currentUserAction == userActions.REMOVE"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Add Wire"
        fontIcon="delete"
        class="tool-icon"
      ></mat-icon>
    </button>
  </div>
  <div class="main">
    <div class="top-nav">
      <button
        (click)="changeEditType(editTypes.WIRE)"
        class="tool-btn"
        [class.active]="currentEditType == editTypes.WIRE && currentUserAction == userActions.ADD"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Add Wire"
          fontIcon="cable"
          class="tool-icon"
        ></mat-icon>
      </button>
      <button
        (click)="changeEditType(editTypes.CUSTOM)"
        class="tool-btn"
        [class.active]="currentEditType == editTypes.CUSTOM && currentUserAction == userActions.ADD"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Add Custom"
          fontIcon="dashboard_customize"
          class="tool-icon"
        ></mat-icon>
      </button>
      <app-color-select
        [(color)]="selectedColor"
      ></app-color-select>
    </div>
    <app-board
      [selectedColor]="selectedColor"
      class="board"
      [currentEditMode]="currentUserAction"
      [selectedComponentType]="currentEditType"
    ></app-board>
  </div>
</div>
