#board {
    border: 3px solid #a18666;
    width: fit-content;
    padding: 4px;
    margin: auto;
}

.hole {
    height: 10px;
    aspect-ratio: 1/1;
    margin: 0;
    cursor: pointer;
    background-color: black;
    border: 0;
    border-radius: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ac8949;
    margin: 3px;

    .col {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 15px;
        width: 15px;
    }
}